# ignore vivado log files
*.jou
*.log
*.str

# ignore vivado cache, ip user files, runs, etc.
/final_project/final_project.cache/**
/final_project/final_project.hw/**
/final_project/final_project.ip_user_files/**
/final_project/final_project.runs/**
/final_project/final_project.srcs/sources_1/ip/**

## DO NOT IGNORE
# /final_project/source_1 folder
# /final_project/files folder
# /sprites folder
# README.md file
# /final_project/arduino_code folder

## UNSURE
# final project sim folder
# final project xpr file
